@import url(https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@500&display=swap);
.content {max-width: 1600px;margin: 0 auto}
body {background-color: #F9DEC9;font-family: Roboto, verdana, sans-serif;font-size: 22px;padding: 0;margin: 0;}
header {background-color: black;}
.logo {width: 80px;}
.logo-link {padding-top: 5px;}
nav a {text-align: center;color: #7BE0AD;text-decoration: none;padding: 35px;}
nav a:hover {background-color: white; color: #484A47;}
.hero-img {width: 100%;}
.hero-msg h1, .hero-msg h4 {text-align: center;}
.home-title {color: black;font-family: 'Mooli', 'Trebuchet MS', sans-serif;font-size: 2em;margin-top: 10px;}
h4 {color: #484A47;}
.button-box {text-align: center;}
.book:hover, .join:hover {background-color: white;color: #484A47;}
.book, .join {background-color: black;color: #7BE0AD;text-decoration: none;font-size: 18px;padding: 15px 30px;margin-top: 50px;border-radius: 5px;}
main section {text-align: center;}
main section img {box-sizing: border-box;}
.rivers-card, .camping-card, .rapids-card {margin: 200px 0;}
.card-img {border: 10px solid #7BE0AD;}
.icon {width: 80px;padding-top: 10px;}
.background {height: 725px;background-color: #484A47;}
h2 {margin: 0;}
.msg {background-color: #7BE0AD;line-height: 1.5em;padding: 35px;}
.msg h2 {color: black;font-family: 'Mooli', 'Trebuchet MS', sans-serif;}
.msg p {color: #484A47;font-size: 0.8em;padding-bottom: 15px;}
footer {background-color: black;color: #F9DEC9;padding: 25px 50px;margin-top: 200px;}
footer a {color: #7BE0AD;text-decoration: none;}
footer a:hover {background-color: white;color: #484A47;}
footer p {font-size: 1.2em;}
footer p:hover {text-decoration: underline;text-decoration-color: blue;}
footer .social img {padding: 15px;}