.content {max-width: 1600px;margin: 0 auto;}
nav a {text-align: center;color: #7BE0AD;text-decoration: none;}
.hero-msg h1, .hero-msg h4 {text-align: center;}
.button-box {text-align: center;}
main section {text-align: center;}
.background {height: 725px;background-color: #484A47;}
body {background-color: #F9DEC9;}
header {background-color: black;}
nav a:hover {background-color: white; color: #484A47;}
.book, .join {background-color: black;color: #7BE0AD;text-decoration: none;}
.book:hover, .join:hover {background-color: white;color: #484A47;}
.msg {background-color: #7BE0AD;}
footer {background-color: black;color: #F9DEC9;}
.home-title {color: black;}
h4 {color: #484A47;}
footer a {color: #7BE0AD;text-decoration: none;}
.msg h2 {color: black;}
.msg p {color: #484A47;}
footer a:hover {background-color: white;color: #484A47;}
.logo, .icon {width: 80px;}
.hero-img {width: 100%;}
footer p {font-size: 1.2em;}
footer p:hover {text-decoration: underline;text-decoration-color: blue;}